*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 10%;
    font-size: 20px;
    align-items: center;
    background-color: silver;
    box-shadow: 2px 2px red;
}
img{
    height: 50px;
}

header ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
header ul li a{
    text-decoration: none;
}

header nav {
    width: 50%;
}

